#controller-title {
    display: block;
    font-size: 24px;
    margin-left: 5%;
    margin-bottom: 50px;
}

.controller {
    height: 425px;
    max-width: 425px;
    min-width: 425px;
    border: 2px solid #026496;
    border-radius: 20px;
    padding: 1% 2% 2% 2%;
    margin: 20px;
}

.coordinateInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.submitButton {
    flex-direction: column;
}

.coordinateName {
    font-size: 18px;
}

.coordinateValue {
    width: 40px;
}

.controller .p-slider-horizontal, .controller .p-inputtext {
    width: 14rem;
}

.controller .p-slider-vertical {
    height: 30rem;
}

.button-num {
    width: 23px;
    height: 23px;
    margin: 1px;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f1e8f9;
}